<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THMonitor</title>
</head>
<body>
  <header>
    <div class="log">THMonitor</div>
  </header>

  <main>
    <nav>
      <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/sensors">Sensors</a></li>
        <li><a href="/locations">Locations</a></li>
        <li><a href="/positions">Positions</a></li>
      </ul>
    </nav>
    <%- include(partial) %>
  </main>

  <footer>ESB-11</footer>
</body>
</html>