<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THMonitor</title>
</head>
<body>
  <header>
    <div class="logo">THMonitor</div>
    <div class="github"><a href="https://github.com/esb-11/THMonitor">GitHub</a></div>
  </header>

  <main>
    <nav>
      <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/settings">Settings</a></li>
      </ul>
    </nav>
    <%- include(partial) %>
  </main>
</body>
</html>