<div class="location-form">
  <form method="post" action="/locations">
    <label for="location">
      <span>Location</span>
      <input type="text" name="location" id="location" required>
    </label>
    <label for="email">
      <span>Email</span>
      <input type="email" name="email" id="email">
    </label>
    <input type="submit" value="New location">
  </form>
</div>
