<div class="sensor-form">
  <form action="/sensors" method="post">
    <label for="sensor">
      <span>Sensor:</span>
      <input type="text" name="sensor" id="sensor" required />
    </label>
    <label for="location">
      <span>Location:</span>
      <select name="location" id="location">
        <% for (const row of locations) { %>
        <option value=<%= row.location %>><%= row.location %></option>
        <% } %>
      </select>
    </label>
    <label for="position">
      <span>Position:</span>
      <select name="position" id="position">
        <% for (const row of positions) { %>
        <option value=<%= row.position %>><%= row.position %></option>
        <% } %>
      </select>
    </label>
    <input type="submit" value="New sensor" />
  </form>
</div>
