<div class="sensors">
  <table>
    <h3>Sensors</h3>
    <thead>
      <th>Sensor</th>
      <th>Location</th>
      <th>Position</th>
    </thead>
    <tbody>
      <% for (const row of map) { %>
      <tr>
        <td><%= row.sensors?.sensor %></td>
        <td><%= row.locations?.location %></td>
        <td><%= row.positions?.position %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <%- include("sensorForm") %>
</div>
